html,
body {
  height: 100%;
  background-color: #ecf1f5;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.item{
  display: flex;
  box-shadow: 0 0 12px rgb(0 0 0 / 15%);
  min-height: 285px;
  background: #fff;
}

.item__left{
  position: relative;

  &--like{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .fa-heart{
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

.item__middle{
  margin: 0px 20px 0px;
  max-width: 500px;

  &--review{
    
  }
  &--info{
    border-top: 1px solid #000;
    padding-top: 15px;
    &-label{
      display: inline-block;
      min-width: 110px;
    }
  }
  .fa-star{
    color: #ffc102;
  }
}

.item__right{
  &--duration{
    display: flex;
  }
  &--period{
    display: flex;
  }
  &--btn{
    background: #f39a2d;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    span{
      margin-right: 5px;
    }
  }
}
