@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

html,
body {
  height: 100%;
  background-color: #ecf1f5;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  box-sizing: border-box;
}

.container{
  max-width: 1012px;
  margin: 50px auto;
}

.filters{
  display: flex;
  justify-content: end;
  @media(max-width: 407px){
    justify-content: space-around;
  }


  .filters__wrapper{
    +.filters__wrapper{
      margin-left: 5px;
    }
    @media(max-width: 407px){

      &:first-of-type{
        order: 2;
        margin-left: 2px;
      }
      &:last-of-type{
        order: 1;
        margin-right: 2px;
        margin-left: 0px;
      }
    }
   label{
    color: #818d99;
    @media(max-width: 407px){
      display: inline-block;
      margin-bottom: 5px;
    }
   }

   .select__wrapper{
    position:relative;
    @media(max-width: 407px){
      display: inline-block;
      width: 100%;
      select{
        width: 100%!important;
      }
    }
    i{
      position:absolute;
      right:10px;
      top: 2px;
      color: #818d99;
      @media(max-width: 407px){
        top: 13px;
      }
    }
   }
  }

  select{
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #818d99;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
  }

  #filterBy{
    width: 124px;
  }

  #sortBy{
    width: 146px;
  }
}

#wrapper{
  padding: 0;
  display: flex;
  flex-direction: column;
}

.item{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  box-shadow: 0 0 12px rgba(0, 0, 0 , 0.15);
  min-height: 229px;
  background: #fff;
  margin-bottom: 30px;

  @media(max-width: 777px){
    max-width: 428px;
    margin: 0 auto 30px;
  }
}

.item__left{
  position: relative;
  img{
    width: 250px;
    height: 100%;
  }

  @media(max-width: 777px){
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }

  &--like{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .fa-heart{
    color: #fff;
    cursor: pointer;
  }
}

.item__middle{
  margin: 0px 20px 0px;
  max-width: 500px;
  padding-top: 20px;

  &--title{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
    color: #2c3e50;
    max-height: 44px;
    overflow-y: hidden;
  }

  &--info{
    border-top: 1px solid #ebeef2;
    padding-top: 15px;
    margin: 12px 0 0;

    div > span{
      &:first-child{
        display: inline-block;
        width: 33%;
        margin: 0 0 6px;
        font-size: 12px;
        font-weight: 700;
        color:#818d99;
        vertical-align: top;

        @media(max-width: 777px){
          width: 32%;
        }
      }
      &:last-child{
        display: inline-block;
        width: 66%;
        margin: 0 0 4px;
        vertical-align: top;
        font-size: 12px;
      }
    }
  }
  &--reviews{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #818d99;
    line-height: 12px;
    margin-left: 4px;
  }
  &--blockquote{
    font-size: 12px;
    line-height: 16px;
    margin: 8px 0 0;
    word-break: break-word;
    font-style: italic;
    color: #2c3e50;
  }
  &--more{
    color: #41c4ab;
    font-weight: 600;
    margin-left: 2px;
    vertical-align: revert;
  }
  .fa-star, .fa-star-half-alt {
    color: #ffc102;
    margin-right: 1px;
    font-size: 11px;
  }
}

.item__right{
  position: relative;
  width: 200px;
  margin-right: 8px;
  margin-left: 8px;

  @media(max-width: 777px){
    width: 100%;
  }

  &--saving{
    width: 0;
    height: 0;
    border-color: transparent #e74c3c transparent transparent;
    border-style: solid;
    border-width: 0 45px 45px 0;
    position: absolute;
    right: -8px;
    top: 0px;

    div{
      text-align: center;
      top: 7px;
      left: 8px;
      position: relative;
      width: 45px;
      color: #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      font-size: 12px;
      }
  }

  &--duration{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    div{
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
  &--period{
    display: flex;
    border-top: 1px solid #ebeef2;
    margin-top: 10px;
    padding-top: 10px;
  }
  &--days{
    display: flex;
    &-title{
      font-size: 12px;
      line-height: 14px;
      margin: 0;
      color: #818d99;
    }
    &-length{
      font-size: 14px;
      margin-top: 2px;
      margin-bottom: 8px;
      font-weight: 700;
      line-height: 14px;
    }
  }
  &--price{
    display: flex;
    &-title{
      font-size: 14px;
      line-height: 17px;
      margin: 0;
    }
    &-start{
      color: #41c4ab;
      font-size: 24px;
      line-height: 29px;
      font-weight: 700;
      margin: 0;
    }

  }
  &--availability{
    display: flex;
    flex-direction: column;
    width: 50%;

    span{
      &:first-of-type{
        font-size: 12px;
        line-height: 14px;
        margin: 0;
        color: #818d99;
      }
      &:last-of-type{
        font-size: 12px;
        line-height: 14px;
        margin: 0;
      }
    }
  }
  &--btn{
    position:relative;
    background: #f39a2d;
    color: #fff;
    width: 100%;
    border: 1px solid #f39a2d;
    padding: 10.5px 8px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;

    @media(max-width: 1021px){
      margin-bottom: 20px;
    }

    i{
      position: absolute;
      top: 12px;
      right: 8px;
    }
    span{
      margin-right: 5px;
    }
  }
}
